@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: dark --prefersdark --default;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark; /* color of browser-provided UI */

  --color-primary: #cba6f7; /* Mauve */
  --color-primary-content: #11111b; /* Crust */

  --color-secondary: #f5c2e7; /* Pink */
  --color-secondary-content: #11111b;

  --color-accent: #94e2d5; /* Teal */
  --color-accent-content: #11111b;

  --color-neutral: #313244; /* Surface0 */
  --color-neutral-content: #cdd6f4; /* Text */

  --color-base-300: #1e1e2e; /* Base */
  --color-base-200: #181825; /* Mantle */
  --color-base-100: #11111b; /* Crust */
  --color-base-content: #cdd6f4; /* Text */

  --color-info: #89b4fa; /* Blue */
  --color-info-content: #11111b;

  --color-success: #a6e3a1; /* Green */
  --color-success-content: #11111b;

  --color-warning: #f9e2af; /* Yellow */
  --color-warning-content: #11111b;

  --color-error: #f38ba8; /* Red */
  --color-error-content: #11111b;

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@utility logo-gradient {
  @apply bg-gradient-to-b from-[#C7A5F5] to-[#89D2C7] bg-clip-text text-transparent;
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
